.footer-app {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.pdp-tyc {
    padding: 10px 0;
}

.txt-links {
    display: block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 0;
}

.img-footer {
    background-color: white;
    padding: 20px 0;
}

.copy {
    display: block;
    font-size: 14px;
    color: black;
    font-weight: bold;
    padding-bottom: 10px;
}

.liston-img {
    width: 50px; /* Ajusta según el tamaño deseado */
    display: block;
    margin: 0 auto;
}
